<div class="form-group">
  <label for="name">Title:</label>
  <input type="text" name="title" id="title" class="form-control">
</div>

<div class="form-group">
  <label for="name">Price: (USD)</label>
  <input type="text" name="price" id="price" class="form-control">
</div>

<div class="form-group">
  <label for="name">Description:</label>
  <input type="text" name="desc" id="desc" class="form-control">
</div>

<div class="form-group">
  <label for="name">Thumbnail:</label>
  <input type="text" name="thumbnail" id="thumbnail" class="form-control">
</div>

<div class="form-group">
  <label for="name">Wistia ID:</label>
  <input type="text" name="wistiaId" id="wistiaId" class="form-control">
</div>

<button type="submit" class="btn btn-success">Submit</button>
