<% layout('boilerplate') %>

<div class="container py-4">
  <div class="row">
    <div class="col">
      <div class="bg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>All Courses</h2>
      <hr>

      <div class="row">
        <% for (var i = 0; i < courses.length; i++) { %>
          <div class="col-md-4">
            <div class="card" style="width: 100%">
              <div class="card-header">
                <a href="/courses/<%=  courses[i]._id %>">
                  <%= courses[i].title %>
                </a>
              </div>
              <div class="card-block">
                <p class="card-text text-center p-3"><%= courses[i].desc %></p>
              </div>
            </div>
          </div>
        <%  } %>
      </div>
    </div>
  </div>
</div>
