<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body>
    <% include ./partials/navbar.ejs %>
    <%- body -%>
    <% include ./partials/footer.ejs %>
    <% include ./partials/javascript.ejs %>
  </body>
</html>
