/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.bg {
  position: fixed;
  width: 100%;
  height: 350px;
  top: 0;
  left: 0;
  z-index: -1;
}

#main {
  min-height: 600px;
}

#home-banner {
  background: url('../imgs/home.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;

  color: #fff;
}

.card {
  margin-bottom: 20px;
}

#main-footer {
  border-top: #ddd solid 1px;
}
