<% layout('boilerplate') %>

<div class="container py-4">
  <div class="row">
    <div class="col">
      <div class="bg"></div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>Revenue Report</h2>
      <p>Your current revenue is $<%= revenue %></p>
    </div>
  </div>
</div>
