<% layout('boilerplate') %>

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-offset-3 py-5">
    <h3>Signup or Login</h3>
    <p>Praesent sodales maximus mollis. Donec gravida lacus sit amet augue efficitur auctor. Pellentesque sed interdum ligula. Etiam nibh arcu, pretium vel erat ac, imperdiet fringilla nisl.</p>
    <hr>
    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg">
      <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
  </div>
</div>
