<% layout('boilerplate') %>

<div class="row justify-content-center">
  <div class="col-lg-6 col-md-offset-3 py-5">
    <h2>Login with Facebook</h2>
    <hr>
    <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-lg">
      <i class="fa fa-facebook"></i> Sign in with Facebook
    </a>
  </div>
</div>
