<% layout('boilerplate') %>

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h3 class="display-4">Welcome to the Marketplace</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-primary btn-lg" href="/courses" role="button">Browse Courses &raquo;</a></p>
    </div>
  </div>

  <div class="container pb-5">
    <div class="row">
      <div class="col">
        <h4>Latest Courses</h4>
        <p>Ut dictum mattis risus, eget posuere nisi hendrerit nec. Suspendisse aliquam ipsum sit amet tellus tincidunt consectetur ac quis nisl. Mauris congue ipsum eget gravida rhoncus.</p>
      </div>
    </div>
    <div class="row">

      <% if (courses) { %>
        <% courses.forEach((course) => { %>
          <div class="col-md-4">
            <div class="card" style="width: 100%">
              <div class="card-header">
                <a href="/courses/<%=  course._id %>">
                  <%= course.title %>
                </a>
              </div>
              <div class="card-block">
                <p class="card-text text-center p-3"><%= course.desc %></p>
              </div>
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <div class="col">
          <p>Be the first to publish a course</p>
          <p><a href="/create-course" class="btn btn-primary">Create a New Course</a></p>
        </div>
      <% } %>


    </div>
  </div> <!-- /container -->

</main>
